.widget {
  // replace this with your code
  background: #ffffff;
  border-radius: 10px;
  width: 267px;
  height: 310px;
  border: 1px solid white;
}
.Long-Term {
  font-family: 'Montserrat';
  margin-left: 21px;
  font-size: 22px;
  color: #ee8b72;
}
.one_year {
  font-family: 'Montserrat';
  margin-left: 38px;
  color: #ee8b72;
  font-size: 16px;
  word-wrap: break-word;
  font-style: normal;
}
.five_year {
  font-family: 'Montserrat';
  margin-left: 38px;
  color: #ee8b72;
  font-size: 16px;
  word-wrap: break-word;
}
.pinkline {
  border-left: #ee8b72 2px solid;
}
.image {
  margin-left: 220px;
}
